
@import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Tauri', sans-serif;
}


input{
  padding: 10px;
  border-radius: 15px;
  border: 0;
  width: 400px;
  font-size: 16px;
}


input:hover{
  border: 1px solid black;
}